version: "3.3"

services:
  local:  
    image: jekyll:latest
    stdin_open: true # docker run -i
    tty: true        # docker run -t
    ports:
      - 4000:4000
      - '20022:22'
    environment:
      TZ: Asia/Seoul
    networks:
      - rbenv

    restart: always

networks:
  rbenv: